#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.map-container {
  width: 100vw;
  height: 100vh; /* Make the container take up the full viewport height */
  overflow: hidden; /* Prevent overflow */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}